footer {
    padding: rem(20px) 0;
    ul{
        list-style: none;
        font-size: rem(30px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: rem(20px) 0 rem(20px);
        li{
            display: inline-block;
            margin: 0 rem(15px);
            &:hover{
                transition: all 0.5s ease;
                transform: rotate(360deg);
                opacity: .75;
            }
            a{
                color: #525252;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .styles_scroll-to-top__2A70v {
        border-radius: 100%;
        background-color: #F06000;
        width: 50px;
        height: 50px;
        animation: mover 1s infinite  alternate;
        &:hover {
            opacity: .7;
        }
    }
    svg {
        fill: #fff;
    }
}