header {
    padding-top: rem(16px);
    padding-bottom: rem(16px);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    &.sticky {
        // background: rgba(0,0,0,.3);
        background: #000000;
        padding-top: 10px;
        padding-bottom: 10px;
        .logo {
            max-width: 80px;
        }
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            max-width: 120px;
            background: rgb(255 255 255 / 70%);
            padding: 5px;
            &:hover {
                opacity: .75;
            }
            @media screen and (max-width: 991px) {
                max-width: 80px;
            }
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style: unset;
            padding: 0;
            li {
                &:not(:last-child) {
                    margin-right: rem(25px);
                    @media screen and (max-width: 414px) {
                        margin-right: rem(15px);
                    }
                }
                &::marker {
                    content: none;
                }
                a {
                    color: #ffffff;
                    text-transform: uppercase;
                    &:hover {
                    color: #ffffff;
                    text-decoration: none;
                    }
                }
                &.active {
                    a {
                        color: #F06000;
                    }
                }
            }
        }
    }
}